<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pathfind1103.mapeditor.mapper.GeometricObjectMapper">
    <select id="selectAll" resultType="com.pathfind1103.mapeditor.model.GeometricObject">
        SELECT id, name, type, coordinates
        FROM geometric_objects
    </select>
    <insert id="insert" parameterType="com.pathfind1103.mapeditor.model.GeometricObject">
        INSERT INTO geometric_objects (name, type, coordinates)
        VALUES (#{name}, #{type}, #{coordinates, jdbcType=OTHER})
    </insert>
    <delete id="deleteById" parameterType="long">
        DELETE FROM geometric_objects WHERE id = #{id}
    </delete>
</mapper>